@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Puritan:400,700&display=swap');
/* FONTS

bubblegum:
font-family: 'Bubblegum Sans', cursive;

puritan:
font-family: 'Puritan', sans-serif;
*/

/* COLORS
Orange = #f17722;
Green = #3ca74f;
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background_sm.png);
}

a {
  text-decoration: none;
  color: white;
}

/* NAV */

.navbar {
  margin-top: 0;
  background-color: #0e0e0c;
  display: inline-block;
  width: 100%;
  /* border-bottom: 5px solid #f17722; */
  font-family: 'Bubblegum Sans', cursive;
  box-shadow: 1px 1px 4px;
}

.logo {
  background-image: url(../img/nav_logo.png);
  width: 190px;
  height: 120px;
  margin: 25px auto;
}

.navbar ul {
  display: inline-block;
  width: 100%;
}

.navbar li {
  text-align: center;
}

.navbar a {
  color: white;
  display: block;
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #6c757d;
  color: black;
}

.navbar li:last-child {
  margin-bottom: 30px;
}

/* BANNER */

.banner-container {
  position: relative;
  background-image: url(../img/banner_sm.jpg);
  min-width: 100%;
  min-height: 320px;
  color: white;
  font-family: 'Bubblegum Sans', cursive;
  display: inline-block;
}

.banner-container h1 {
  margin: 40px auto;
  /* min-width: 100%; */
  background-color: #f17722;
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px black;
}

.banner-container a {
  display: block;
  background-color: #f17722;
  font-size: 20px;
  width: 50%;
  padding: 7px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 1px 3px black;
}

.banner-container p {
  position: absolute;
  background: rgba(108,117,125,.8);
  min-width: 100%;
  text-align: center;
  padding: 5px 10px;
  font-size: 18px;
  bottom: 0;
}

.banner-visit {
  font-family: 'Puritan', sans-serif;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
}

.main-visit {
  width: 90%;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
}

.banner-visit h3 {
  font-size: 20px;
  color: white;
  line-height: 50px;
  background-image: url(../img/green_tag.png);
  width: 180px;
  height: 50px;
  padding-left: 25px;
  /* text-align: center; */
}

.banner-visit p {
  display: block;
  font-size: 18px;
  margin: 10px;
}

.banner-visit p:first-child {
  margin-top: 20px;
}

.banner-visit p:last-child {
  margin-bottom: 20px;
}

/* Add Button to "admittance" */
